<div class="container-fluid" id="wrapper">
    <div class="jumbotron text-center">
        <h1>Scraping The Ringer</h1>
        <h2>The latest articles from TheRinger.com</h2>
        <button id="scrape">Scrape it, scrape it good.</button>
    </div>
    
    
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div id="articles"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="text-center" id="notes"></div>
        </div>
    </div>
    
    
</div>
<script>

    // Grab the articles as a json
    $.getJSON("api/articles/", function (data) {
        // For each one
        for (var i = 0; i < data.length; i++) {
            // Display the apropos information on the page
            $("#articles")
                .append(`<div class='panel panel-default ringer-article' data-id='${data[i]._id}'>
                            <div class='panel-heading'> ${data[i].title}</div> 
                            <div class='panel-body'>${data[i].summary}<br/><br/>
                            <a href='${data[i].link}' target='_blank'>${data[i].link}</a></div>
                        </div>`);
        }
    });

    $(document).on("click", "#scrape", function () {
        $.ajax({
            method: "POST",
            url: "api/articles/scrape"
        })
        .then(function(data){
            location.reload();
        })
    });


    $(document).on("click", ".ringer-article", function () {
       
        $("#notes").empty();
        
        var thisId = $(this).attr("data-id");
        $("html, body").animate({ scrollTop: 0 }, "slow");

        
        $.ajax({
            method: "GET",
            url: "api/articles/" + thisId
            })

            .then(function (data) {
            console.log(data);
            

            $("#notes").append(`
                <div class='panel panel-default'>
                    <div class='panel-heading'>${data.title}</div>
                    <div class='panel-body'><a href='${data.link}' target='_blank'>${data.link}</a><br/>
                        <p id='existing-comment'></p>
                        <input id='titleinput' name='title' placeholder="Name"><br/>
                        <textarea id='bodyinput' name='body' placeholder="Comment"></textarea><br/>
                        <button class='btn btn-primary' data-id='${data._id}' id='savenote'>Save Comment</button>
                    </div>
                </div>`);

            // If there's a comment in the article
            if (data.comment.length > 0) {
                for (var i=0; i < data.comment.length; i++) {
                    $("#existing-comment").append(`${data.comment[i].title}: ${data.comment[i].body}
                    <button class='btn btn-sm btn-danger' data-id='${data.comment[i]._id}' id='delete-note'>Delete Comment</button><br />`);
                }
                
            }
        });
    });

    
    $(document).on("click", "#savenote", function () {
        
        var articleId = $(this).attr("data-id");
        var title = $("#titleinput").val();
        var body =  $("#bodyinput").val();

        
        $.ajax({
            method: "POST",
            url: "/api/articles/" + articleId,
            data: {
                title, body
            }
        })
        .then(function (data) {
           var index = data.comment.length;
    
           $("#existing-comment").append(`${title}: ${body}
                <button class='btn btn-sm btn-danger' data-id='${data.comment[index]}' id='delete-note'>Delete Comment</button><br />`);
            
        });

        // Also, remove the values entered in the input and textarea for note entry
        $("#titleinput").val("");
        $("#bodyinput").val("");
    });

  
    $(document).on("click", "#delete-note", function () {
        
        var commentId = $(this).attr("data-id");

        $.ajax({
            method: "DELETE",
            url: "/api/articles/" + commentId,
            
        })
        .then(function (data) {
           
            location.reload();
            
        });
    });

</script>